<h1 class="text-center"><%= pluralize(@books.count, "result") %> found</h1>
<%= link_to "Back to books", books_path %>
<div class="conatiner">
    <div class="category-row container">
        <%= sort_link(@query, :title, "", default_order: :asc) %>
        <div class="row">
            <% @books.each do |book| %>
                <div class="col-md-3">
                    <% if book.image.attached? %> 
                        <%= link_to image_tag(book.image_as_thumbnail, class: "book-category"), book %>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>