<!DOCTYPE html>
<html lang="en">
    <body class="body-home">
        <p class="tm-welcome-text mb-1 text-white"
            style="
            text-align: center;
            font-family: 'League Script', cursive;
            font-size: 3rem;
            -webkit-text-stroke: 2px white;
            line-height: 4.5rem;
            ">Smell from a new book Adores some people, <br>
        Dust of the old books Does good to whom?
        </p>
    </body>
</html>