<div id="<%= dom_id category %>">
  <h2>
    <strong><%= category.name %></strong>
  </h2>

  <% category.books.each do |book| %>
    <p>
      <%= book.title %> | <%= link_to "View Book", book %>
    </p>
  <% end %>

</div>
