<div class="container">
    <% if notice %>
        <p style="color: green" class="notice"><%= notice %></p>
    <% elsif  alert %>
        <p style="color: green" class="alert"><%= alert %></p>
    <% end %>
</div>